html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-family: 'Coda', cursive;
}

h1 {
	text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
	font-size: 250%;
	padding-top: 20px;
}

/* Styles for cards */

.deck {
    width: 590px;
	margin: 0 auto;
    background: -webkit-linear-gradient(290deg, #02ccba 0%, #1a92ce 100%);
	background: linear-gradient(160deg, #02ccba 0%, #1a92ce 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
	display: inline-block;
	margin: 0 30px 30px 0;
	line-height: 280px;
    font-size: 0;
    color: #ffffff;
	text-align: center;
    border-radius: 8px;
	vertical-align: top;
	-webkit-transform: rotateY(180deg);
			transform: rotateY(180deg);
	-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
	-webkit-transition: -webkit-transform .3s ease;
	transition: -webkit-transform .3s ease;
	transition: transform .3s ease;
	transition: transform .3s ease, -webkit-transform .3s ease;
    cursor: pointer;
	font-family: FontAwesome;
	line-height: 120px;
}

.deck .card:nth-child(4n) {
  margin: 0 0 15px 0;
}

.deck .card:nth-child(n+13) {
  margin: 0 30px 0 0;
}

.deck .card:nth-child(n+13):nth-child(4n) {
  margin: 0;
}

.deck .card.open {
	-webkit-transform: rotateY(0);
			transform: rotateY(0);
    background: #0198e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
	-webkit-transform: rotateY(0);
			transform: rotateY(0);
    cursor: default;
    background: #10894b;
    font-size: 33px;
}

.deck .card.notmatch {
  background: #c40f2d;
}

/* Styles for the Score Panel */

#score-panel {
    width: 690px;
    margin-bottom: 10px;
}

#score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 5px 5px 0 15px;
}

#score-panel .stars li {
	text-align: right;
    list-style: none;
    display: inline-block;
}

#score-panel .restart {
    float: right;
    cursor: pointer;
}

*::-moz-selection {
  background: transparent;
}

*::selection {
  background: transparent;
}

.swal2-overlay {
  background-color: white;
}

.control {
	width: 690px;
	text-align: center;
}

.control .timer {
	display: inline-block;
	padding-left: 240px
}

.control .timer h3 {
	margin: 0px;
}

.control .restart {
	display: inline-block;
	margin-right: 125px;
}

.container {
	max-width: 690px;
	width: 100%;
	margin: 0 auto;
}

.centerdiv {
	max-width: 690px;
	text-align: center;
	width: 100%;
}

.stars {
	text-align: center;
	margin-right: 45px;
	padding-top: 10px;
}

.clear{
	clear: both;
}

.font-color {
  color: white;
}
